.CienVH{
    min-height: calc(100vh - 75px);
    width: 100%;
}

.Bg-Mineralizarte {
    background-image: url("./img/bg-about-2.jpg");
    object-fit: fill;
    background-size: auto;
    background-position-y: 20%;
    background-position-x: 55%;
}
.Invert{
    filter: invert(100%);
}
.IconT{
    height: auto;
    width: 75px;
}
.Yo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}