.badge-Cart-Canvas {
    font-size: 0.6rem;
    top: 12px !important;

}
.HeaderCartCanvas{
    height: 75px;
}
.BodyCartCanvas{
        height: calc(100vh - 75px) ;     
        display: flex;
        flex-direction: column;
        display: flex;
        justify-content: center;
        font-weight: bold;
        flex-direction: column;
}

.ShaddowFooterCanvas{
    box-shadow: 1px -25px 40px -14px rgba(0,0,0,0.5);
-webkit-box-shadow: 1px -25px 40px -14px rgba(0,0,0,0.5);
-moz-box-shadow: 1px -25px 40px -14px rgba(0,0,0,0.5);
}
