.BgHeadBoard{ 
    background-image: url("./src/assets/img/bg-3.jpg");
    background-position-y: 60%;
    background-position-x: 50%;
    object-fit:cover;
    box-sizing: border-box; 
}
.BadgeHeadBoard{
    background-color: transparent;
}
@media (max-width: 746px) {
    .BgHeadBoard{
        background-position-x: 70%;
    }
    .BadgeContact{
        background-color: rgba(0, 0, 0, 0.7);
        padding: 12px;
    }
  }
  @media (max-width: 1166px) {
    .BgHeadBoard{
        background-position-x: 70%;
    }
    .BadgeHeadBoard{
        background-color: rgba(0, 0, 0, 0.7);
        padding: 12px;
    }
  }