.Body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
}

.Cont {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.Cont .Ring {
  position: relative;
  width: 150px;
  height: 150px;
  margin: -15px;
  border-radius: 50%;
  border: 4px solid #24ecff;
  border-top: 4px solid#24ecff;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.Cont .Ring::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 12px;
  right: 12px;
  border-radius: 50%;
  background: #d9b617;
  box-shadow: 0 0 0 5px #d9b61744, 0 0 0 10px #d9b61733, 0 0 0 20px #d9b61733,
    0 0 20px #d9b61722, 0 0 50px #d9b61711;
}

.Cont .Ring:nth-child(2) {
  animation: animate 4s linear infinite;
  animation-delay: -1s;
  border-right: 4px solid #d9b617;
  border-bottom: 4px solid #d9b617;
  border-top: 4px solid #d9b617;
  border-left: 4px solid #d9b617;
}

.Cont .Ring:nth-child(2)::before {
  content: "";
  position: absolute;
  top: initial;
  bottom: 12px;
  left: 12px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #d9b617;
  box-shadow: 0 0 0 5px #d9b61744, 0 0 0 10px #d9b61733, 0 0 0 20px #d9b61733,
    0 0 20px #d9b61722, 0 0 50px #d9b61711;
}

/* DOWN */
.Cont .Ring:nth-child(3) {
  animation-delay: -3s;
  position: absolute;
  bottom: -66.6px;
  border-right: 4px solid #5eb345;
  border-bottom: 4px solid #5eb345;
  border-top: 4px solid #5eb345;
  border-left: 4px solid #5eb345;
}

.Cont .Ring:nth-child(3)::before {
  content: "";
  position: absolute;
  top: initial;
  bottom: 12px;
  left: 12px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #d9b617;
  box-shadow: 0 0 0 5px #d9b61744, 0 0 0 10px #d9b61733, 0 0 0 20px #d9b61733,
    0 0 20px #d9b61722, 0 0 50px #d9b61711;
}


/* UP */
.Cont .Ring:nth-child(4) {
    animation-delay: -1s;
    position: absolute;
    top: -66.6px;
    border-right: 4px solid #d91717;
    border-bottom: 4px solid #d91717;
    border-top: 4px solid #d91717;
    border-left: 4px solid #d91717;

  }

  .Cont .Ring:nth-child(4)::before {
    content: "";
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #d9b617;
    box-shadow: 0 0 0 5px #d9b61744, 0 0 0 10px #d9b61733, 0 0 0 20px #d9b61733,
    0 0 20px #d9b61722, 0 0 50px #d9b61711;
  }