.CategoriesDiv{
    background-image: url("../img/bg-vec.jpg");
    object-fit: cover;
    background-size: 100 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    filter: invert(96%);
    padding: 3rem;
    width: 100%;
}



  