@font-face{
    font-family: 'FontGaramond';
    src:url("/src/assets/fonts/Cormorant_Garamond/CormorantGaramond-Light.ttf")  format(truetype);
}
@font-face{
    font-family: 'FontLato';
    src:url("/src/assets/fonts/Lato/Lato-Light.ttf")  format(truetype);
}
.FontLato{
    font-family: FontLato;
}
.FontGaramond{
    font-family: FontGaramond!important;

}


.NotInvert{
    filter: invert(100%)
}

.Father{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.ColorYellow{
    color: rgb(217, 182, 23);
}
.BgYellow{
    background-color: rgb(217, 182, 23);

}